.gradient-custom {
    /* fallback for old browsers */
    background: #daddec;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(20, 32, 94, 0.5), rgba(43, 6, 80, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(16, 28, 87, 0.5), rgba(8, 50, 139, 0.5));
}

model-viewer {
    width: 800px;
    height: 600px;
}
