
html {
    height: 100vh;
    width: 100%;
    
    padding: 1rem;
    line-height: 1.5rem;
}



body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d6d5d5, #978e8e, #7e7878, #413d3d);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    font-family: Verdana;
    overflow: hidden;
}

@keyframes color{
    0%{
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%
    }
}

h1, h2 {
    display: block;
    padding: 10px;
}

.contents {
    margin: 0 20%;
    padding: 10px;
    font-size: 20px; 
}

a:link {
   color: rgb(58, 58, 99);
}

a:visited {
    color: rgb(16, 16, 112);
}

a:hover {
    color: purple;
}

a:active {
    color: rgb(253, 241, 241);
}


